[user]
	email = jasonnicholls1981@gmail.com
	name = Jason Nicholls
[core]
	excludesfile = /home/jason/.gitignore_global
[credential]
	helper = store

[includeIf "gitdir:/home/jason/Code/redN/"]
	path = /home/jason/Code/redN/.gitconfig-work
